
.inputContainer{
  background-color:rgb(57, 50, 50);
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
}

.todoInputBox{
  width: 100%;
  border: none;
  display: inline;
  color: black;
  font-size: 16px;
}

.todoInputBox:focus{
  outline: none;
}

.todoButton{
  border: none;
  border-radius: 4px;
  background-color:#0f0901;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}


.container{
  background-color:rgb(206, 209, 105);
}