.listContainer{
   width: 500px;
   color: #353935;
   font-size: 20px;
   margin: 0 auto;
}

li{
  font-weight: bold;
  padding: 20px;
  padding-left: 30px;
}

hr{
  border: 1px solid #f4f4f4;
  
}

.deleteButton{
  float: right;
  padding: 8px 12px;
  border: none;
  background-color: #f0081f;
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.completed{
  text-decoration: line-through;
}